{{/* This file is combined with the root.tmpl to display the blog index. */}}

{{define "title"}}Article index - Gopher{{end}}
{{define "content"}}

<h1 class="title">Article index</h1>

{{range .Data}}
	<h4><a href="{{.Path}}">{{.Title}}</a></h4>
	<p class="blog-post-meta">{{.Time.Format "2 January 2006"}}<br>
{{with .Tags}}{{range .}}{{.}} {{end}}{{end}}</p>
{{end}}

{{end}}
