{{/* This template is combined with other templates to render blog pages. */}}

{{define "root"}}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="You've been served.">
	<meta name="author" content="@ancientlore">
	<link rel="SHORTCUT ICON" href="static/favicon.ico">

	<title>served</title>

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<!-- Custom styles for this template -->
	<link href="static/blog.css" rel="stylesheet">

	<link rel="alternate" type="application/atom+xml" title="served - Atom Feed" href="{{.BasePath}}/feed.atom" />

	<!-- Just for debugging purposes. Don't actually copy this line! -->
	<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<script type="text/javascript">window.initFuncs = [];</script>
</head>

<body>

<div class="blog-masthead">
  <div class="container">
	<nav class="blog-nav">
	  <a class="blog-nav-item active" href="{{.BasePath}}/">Home</a>
	  <a class="blog-nav-item" href="https://github.com/ancientlore/served">served on GitHub</a>
	</nav>
  </div>
</div>

<div class="container">

	<div class="blog-header">
		<h1 class="blog-title"><a href="{{.BasePath}}/">served</a></h1>
		<p class="lead blog-description">You've been <a href="https://github.com/ancientlore/served">served</a>.</p>
	</div>

	<div class="row">

		<div class="col-sm-8 blog-main">

		{{template "content" .}}

		</div>

		<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
		  <div class="sidebar-module sidebar-module-inset">
			<h4>About</h4>
			<p><a href="https://github.com/ancientlore/served">served</a> is a simple web server written in Go. In addition to static content, it supports blogging with <a href="https://golang.org/x/tools/present">present</a> markup and slideshows.</p>
			<img src="static/gotv.png"/>
		  </div>
		  <div class="sidebar-module">
	{{with .Doc}}
		  <ul>
		{{with .Newer}}
			<li>Next: <a href="{{.Path}}">{{.Title}}</a></li>
		{{end}}
		{{with .Older}}
			<li>Previous: <a href="{{.Path}}">{{.Title}}</a></li>
		{{end}}
		</ul>
		{{with .Related}}
			<h4>Related articles</h4>
			<ul>
			{{range .}}
				<li><a href="{{.Path}}">{{.Title}}</a></li>
			{{end}}
			</ul>
		{{end}}
	{{end}}
		  </div>
		  <div class="sidebar-module">
	<h4>Blog Archive</h4>
	<p><a href="{{.BasePath}}/index">Article index</a></p>
		  </div>
		  <div class="sidebar-module">
			<h4>Elsewhere</h4>
			<ol class="list-unstyled">
			  <li><a href="https://github.com/ancientlore">GitHub</a></li>
			  <li><a href="https://twitter.com/ancientlore">Twitter</a></li>
			</ol>
		  </div>
		</div><!-- /.blog-sidebar -->

	  </div><!-- /.row -->

	</div><!-- /.container -->

	<div class="blog-footer">
	  <p>You've been <a href="https://github.com/ancientlore/served">served</a>. <a href="#">Back to top</a></p>
	</div>

</body>

<script src="/lib/godoc/jquery.js"></script>
<script src="/lib/godoc/playground.js"></script>
<script src="/lib/godoc/play.js"></script>
<script src="/lib/godoc/godocs.js"></script>
<script>
$(function() {
	// Insert line numbers for all playground elements.
	$('.playground > pre.numbers, .code > pre.numbers').each(function() {
		var $spans = $(this).find('> span');

		// Compute width of number column (including trailing space).
		var max = 0;
		$spans.each(function() {
			var n = $(this).attr('num')*1;
			if (n > max) max = n;
		});
		var width = 2;
		while (max > 10) {
			max = max / 10;
			width++;
		}

		// Insert line numbers with space padding.
		$spans.each(function() {
			var n = $(this).attr('num')+' ';
			while (n.length < width) n = ' '+n;
			$('<span class="number">').text(n).insertBefore(this);
		});
	});

	initPlayground(new SocketTransport());
});
</script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="static/docs.min.js"></script>
</html>
{{end}}

{{define "doc"}}
	<div class="blog-post">
		<h2 class="blog-post-title"><a href="{{.Path}}">{{.Title}}</a></h2>
		<p class="blog-post-meta">{{.Time.Format "2 January 2006"}}</p>
		{{.HTML}}
		{{with .Authors}}
			<p class="blog-post-meta">By {{authors .}}</p>
		{{end}}
	</div>
{{end}}
