{
  "Servers": [
    {
      "Addr": ":8000",
      "Hosts": [
        {
          "Hostname": "tinkertoy.skyegg.com",
          "VDirs": [
            {
              "Root": "/static/",
              "Folder": "/go/src/github.com/ancientlore/served/static"
            }
          ],
          "Blogs": [
            {
              "Root": "/",
              "Folder": "/go/src/github.com/ancientlore/served",
              "HomeArticles": 5,
              "FeedArticles": 10,
              "FeedTitle": "served"
            }
          ],
          "PlayEnabled": false,
          "NativeClient": false
        }
      ]
    }
  ]
}
