{
	"Servers": [
		{
			"Addr": "localhost:8080",	
			"Hosts": [
				{
					"Hostname": "localhost",
					"VDirs": [
						{ "Root": "/", "Folder": "/Users/michael/web/skyegg" },
						{ "Root": "/gopher/static/", "Folder": "/Users/michael/gocode/src/github.com/ancientlore/served/static" }
					],
					"Blogs": [
						{ "Root": "/gopher/", "Folder": "/Users/michael/gocode/src/github.com/ancientlore/served", "HomeArticles": 5, "FeedArticles": 10, "FeedTitle": "served" }
					],
					"PlayEnabled": true,
					"NativeClient": false
				}
			]
		},
		{
			"Addr": ":80",	
			"Hosts": [
				{
					"Hostname": "localhost",
					"VDirs": [
						{ "Root": "/skyegg/", "Folder": "/Users/michael/web/skyegg" },
						{ "Root": "/static/", "Folder": "/Users/michael/gocode/src/github.com/ancientlore/served/static" }
					],
					"Blogs": [
						{ "Root": "/", "Folder": "/Users/michael/gocode/src/github.com/ancientlore/served", "HomeArticles": 5, "FeedArticles": 10, "FeedTitle": "served" }
					],
					"PlayEnabled": false,
					"NativeClient": false
				},
				{
					"Hostname": "www.skyegg.com",
					"VDirs": [
						{ "Root": "/", "Folder": "/home/michael/web/skyegg" }
					]
				},
				{
					"Hostname": "gopher.skyegg.com",
					"VDirs": [
						{ "Root": "/regatta/", "Folder": "/home/michael/web/gopher/regatta" },
						{ "Root": "/static/", "Folder": "/home/michael/gocode/src/github.com/ancientlore/served/static" }
					],
					"Blogs": [
						{ "Root": "/", "Folder": "/home/michael/gocode/src/github.com/ancientlore/served", "HomeArticles": 5, "FeedArticles": 10, "FeedTitle": "served" }
					],
					"PlayEnabled": false,
					"NativeClient": false
				}
			]
		}
	]
}
