{
	"Addr": ":8080",	
	"Hosts": [
		{
			"Hostname": "localhost",
			"VDirs": [
				{ "Root": "/", "Folder": "/Users/michael/web/skyegg" },
				{ "Root": "/gopher/", "Folder": "/Users/michael/web/gopher" }
			]
		},
		{
			"Hostname": "www.skyegg.com",
			"VDirs": [
				{ "Root": "/", "Folder": "/home/michael/web/skyegg" }
			]
		},
		{
			"Hostname": "gopher.skyegg.com",
			"VDirs": [
				{ "Root": "/", "Folder": "/home/michael/web/gopher" }
			]
		}
	]
}
