{
	"Servers": [
		{
			"Addr": "localhost:8080",	
			"Hosts": [
				{
					"Hostname": "localhost",
					"VDirs": [
						{ "Root": "/", "Folder": "/Users/michael/web/skyegg" },
						{ "Root": "/gopher/static/", "Folder": "/Users/michael/web/gopher/static" }
					],
					"Blogs": [
						{ "Root": "/gopher/", "Folder": "/Users/michael/web/gopher", "HomeArticles": 5, "FeedArticles": 10, "FeedTitle": "Gopher", "PlayEnabled": false }
					]
				}
			]
		},
		{
			"Addr": ":80",	
			"Hosts": [
				{
					"Hostname": "localhost",
					"VDirs": [
						{ "Root": "/", "Folder": "/Users/michael/web/skyegg" },
						{ "Root": "/gopher/", "Folder": "/Users/michael/web/gopher" }
					]
				},
				{
					"Hostname": "www.skyegg.com",
					"VDirs": [
						{ "Root": "/", "Folder": "/home/michael/web/skyegg" }
					]
				},
				{
					"Hostname": "gopher.skyegg.com",
					"VDirs": [
						{ "Root": "/", "Folder": "/home/michael/web/gopher" }
					]
				}
			]
		}
	]
}
